.container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #242424;

    .pc-header {
        width: 100%;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        // background-color: #242424;
    }

    .navigate {
        height: 100%;
        // background-color: #242424;
        transition: all 0.3s 0.2s ease-in-out;
    }

    .layout {
        // background-color: #3c3c3c;
        margin-top: 60px;
        flex-grow: 1;
        padding: 10px;
        position: relative;
    }
    
    .layout-full {
        margin-top: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .header {
        display: none;
    }

    .tabbar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;

        .header {
            display: block;
            position: absolute;
            z-index: 99;
            width: 100%;
        }

        .tabbar {
            display: block;
        }

        .pc-header {
            display: none;
        }

        .navigate {
            display: none;
        }

        .layout {
            margin-top: 0;
            position: relative;
            z-index: 1;
            padding: 0;
            padding-bottom: 0;
            background-color: #000000;
        }
    }
}