.container {
    height: 100%;
    width: 100%;
    min-width: 300px;
    padding: 15px 0;
    border-radius: 0 20px 20px 0;
    font-size: 16px;
    color: #dadada;
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;

    .choose {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #3a3a3a;

        .header-choose {
            display: flex;
            align-items: center;
            padding: 0 15px;
            gap: 20px;

            .header-choose-item {
                color: #585858;
                cursor: pointer;
                font-weight: 600;
                position: relative;
                padding-bottom: 12px;
            }

            .header-choose-item::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -3px;
                display: block;
                width: 0;
                height: 4px;
                border-radius: 2px;
                background-color: var(--primary-color);
                transition: none;
            }

            .header-choose-active {
                color: #dadada;
                position: relative;
                transition: all 0.3s ease-in-out;
            }

            .header-choose-active::after {
                width: 100%;
                transition: all 0.3s ease-in-out;
            }
        }

        .header-close-icon {
            font-size: 18px;
            padding: 0 5px 5px 5px;
            color: #585858;
            transition: all 0.3s ease-in-out;
            margin-right: 15px;
            align-self: flex-start;
        }

        .header-close-icon:hover {
            color: #dadada;
        }
    }

    .author-introduce {
        padding: 20px 15px;
        border-bottom: 1px solid #3a3a3a;
        display: flex;
        align-items: center;

        &-body {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &-name {
                font-weight: 600;
                color: #dadada;
                cursor: pointer;
                width: 100%;
                text-wrap: nowrap;

                .name {
                    position: relative;
                }

                &:hover {
                    .name::after {
                        width: 100%;
                    }
                }

                .name::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 0;
                    bottom: -7px;
                    height: 2px;
                    background-color: #dadada;
                    transition: all 0.3s ease-in-out;
                }


                .icon {
                    font-size: 16px;
                    margin-left: 5px;
                    color: #5f5f5f;
                }
            }

            &-heat {
                span {
                    font-size: 13px;
                    margin-right: 10px;
                    color: #b8b8b8;
                }
            }
        }
    }

    .video-more {
        padding: 0px 10px 0 15px;
        margin-top: 20px;
        margin-right: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        list-style: none;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: block;
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: #2e2e2e;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #424242;
            border-radius: 10px;
        }

        &-item {
            width: calc(33% - 8px);
            aspect-ratio: 3/4;
            background-color: #383838;
            border-radius: 6px;
            overflow: hidden;
            cursor: pointer;
            position: relative;

            &:hover {
                .poster {
                    transform: scale(1.1);
                }
            }

            .poster {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s ease-in-out;
            }

            .like-show {
                position: absolute;
                z-index: 2;
                bottom: 5px;
                left: 5px;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 5px;
                text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);

                .icon {
                    width: 16px;
                    height: 16px;
                    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
                }
            }

            .mark {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 3;
                font-size: 14px;
                color: #dadada;
                background-color: rgba(0, 0, 0, 0.6);
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .on-more {
            width: 100%;
            text-align: center;
            padding: 10px 0;
            color: #b8b8b8;
        }
    }

    .comment-container {
        width: 100%;
        height: calc(100% - 30px);
        padding: 15px;
        font-size: 14px;
        position: relative;
        padding-bottom: 0;
        overflow: hidden;

        .comment-body {
            height: 100%;
            overflow: scroll;
            margin-top: 15px;
            padding-bottom: 80px;

            .comment-item,
            .comment-item-reply {
                display: flex;
                gap: 10px;
                margin-top: 15px;

                .comment-item-avatar {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background-color: #585858;
                    flex-shrink: 0;
                }

                .comment-item-detail,
                .comment-item-reply {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    overflow: hidden;
                    flex-grow: 1;
                    padding-top: 2px;

                    .comment-item-name {
                        color: #898989;
                        font-size: 13px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: #dadada;
                            text-decoration: underline;
                        }
                    }

                    .comment-item-content {
                        color: #dadada;
                        word-wrap: break-word;
                        line-height: 1.5;
                    }

                    .comment-item-time {
                        color: #898989;
                        font-size: 13px;
                    }

                    .comment-footer {
                        display: flex;
                        gap: 10px;
                        color: #898989;
                        font-size: 13px;

                        .comment-item-back,
                        .comment-item-like {
                            cursor: pointer;
                            transition: all 0.3s ease-in-out;
                            display: flex;
                            align-items: center;

                            img {
                                width: 13px;
                                height: 13px;
                                opacity: 0.3;
                                margin-right: 3px;
                                transition: all 0.3s ease-in-out;
                            }

                            &:hover {
                                color: #dadada;

                                img {
                                    opacity: 0.7;
                                }
                            }
                        }

                        .comment-item-liked {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            transition: all 0.3s ease-in-out;

                            img {
                                width: 13px;
                                height: 13px;
                                margin-right: 3px;
                            }

                            &:hover {
                                color: #dadada;
                            }
                        }
                    }
                }
            }

            .comment-item-reply {
                padding-left: 45px;
                margin-top: 10px;

                .comment-item-name-container {
                    display: flex;
                    align-items: center;
                    gap: 2px;

                    .comment-item-name {
                        flex-shrink: 0;
                    }

                    .comment-item-name-reply {
                        flex-grow: 1;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        flex-shrink: 1;
                    }

                    .comment-reply-icon {
                        font-size: 12px;
                        color: #898989;
                        flex-shrink: 0;
                    }
                }
            }

            .comment-more {
                color: #898989;
                font-size: 12px;
                cursor: pointer;
                padding-left: 45px;
                margin-top: 10px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: #dadada;

                    .comment-more-icon {
                        color: #dadada;
                    }
                }

                .comment-more-icon {
                    font-size: 12px;
                    color: #898989;
                    margin-left: 2px;
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        .comment-input {
            position: absolute;
            bottom: 0;
            width: calc(100% - 30px);
            height: 60px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: end;

            .reply-info {
                height: 20px;
                font-size: 13px;
                background-color: #545454;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                display: flex;
                justify-content: space-between;
                padding: 0 5px;
                align-items: center;
                color: #8f8f8f;

                .info {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    flex-grow: 1;
                }
            }

            input {
                width: 100%;
                height: 40px;
                padding: 0 10px;
                border: none;
                background-color: #414141;
                color: #dadada;
                font-size: 14px;
                border-radius: 10px;
                outline: none;

                &:focus {
                    border: 1px solid #828282;
                }
            }

            .input-active {
                border-top-left-radius: 0;
                border-top-right-radius: 0;

                &:focus {
                    border-top: none;
                }

                &:focus~.reply-info {
                    border: 1px solid #828282;
                    border-bottom: none;
                }
            }

            .comment-input-button {
                position: absolute;
                right: 0;
                bottom: 0;
                transform: scale(0);
                opacity: 0;
                transition: all 0.3s ease-in-out;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 36px;
                    height: 36px;
                    cursor: pointer;
                }
            }

            .comment-input-button-visible {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}