button {
    cursor: pointer;
    position: relative;
    padding: 4px 15px;
    border-radius: 6px;
    height: 32px;
    user-select: none;
    border: 1px solid transparent;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    background-color: #d4237a;
    display: flex;
    align-items: center;
    line-height: 1.5714285714285714;
    outline: none;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #fff;
    letter-spacing: 1px;

    &:hover {
        background-color: #c7558a;
    }

    &:active {
        background-color: #bd1968;
    }
}