.container-pc {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;

    .video-back {
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 2;
        color: rgba(0, 0, 0, 0.3);
        font-size: 40px;
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    .video-list {
        width: 0;
        height: 100%;
        flex-grow: 1;
        position: relative;
        display: flex;
        justify-content: flex-start;

        .swiper {
            height: 100%;
            transition: all 0.3s ease-out;
            margin-left: 0;
        }

        .video-more-active {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            color: #dadada;
            font-size: 20px;
            cursor: pointer;
            padding: 10px 6px;
            border-radius: 25px 0 0 25px;
            height: 52px;
            background: rgba(0, 0, 0, 0.3);
            border: 1px solid #5e5e5e;
            border-right: none;
            display: flex;
            align-items: center;
            visibility: visible;
            transition: opacity 0.3s 0.5s ease-in-out, transform 0.3s ease-in-out, border 0.3s ease-in-out;
        }

        .video-more-active:hover {
            transform: translateY(-50%) scale(1.1);
            border: 2px solid #a5a5a5;
            border-right: none;
        }

        .video-more {
            opacity: 0;
            visibility: hidden;
            transition: none;
        }
    }

    .video-introudction {
        position: absolute;
        right: 0;
        width: 30%;
        min-width: 300px;
        height: 100%;
        opacity: 0;
        transition: all 0.3s ease-out;
    }

    .video-introudction-active {
        opacity: 1;
        transition: all 0.3s 0.1s ease-in-out;
    }

    .video-choose {
        width: 50px;
        font-size: 20px;
        color: #707070;
        display: flex;
        flex-direction: column;
        background-color: #333333;
        border-radius: 27px;
        transition: all 0.3s ease-out;

        .video-choose-icon {
            padding: 15px 0;
            cursor: pointer;
        }

        .video-choose-icon-disabled {
            color: #444444;
            cursor: not-allowed;
        }
    }

    .video-choose:hover {
        background-color: #3c3c3c;
        color: #dadada;
    }
}