@font-face {
    font-family: '阿里妈妈方圆体 VF Regular';
    src: url('../fonts/AlimamaFangYuanTiVF-Thin.woff') format('woff'),
        url('../fonts/AlimamaFangYuanTiVF-Thin.woff2') format('woff2'),
        url('../fonts/AlimamaFangYuanTiVF-Thin.ttf') format('truetype');
    font-weight: normal;
}

html,
body,
input,
button {
    font-family: '阿里妈妈方圆体 VF Regular';
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    --primary-color: #d4237a;
}

::-webkit-scrollbar {
    display: none;
}