.container {
    width: 100%;
    height: 100%;
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .nav-change {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 20px;
        transition: all 0.3s ease-in-out;
    }


    img {
        height: 14px;
        aspect-ratio: 1/1;
    }

    .search {
        width: 20%;
        min-width: 250px;
        max-width: 380px;
        height: 30px;
        position: relative;

        input {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 15px;
            padding: 0 29px 0 12px;
            font-size: 14px;
            outline: none;
            background: transparent;
            border: 2px solid #585858;
            color: #dadada;
            transition: all 0.3s ease-in-out;
        }

        input:focus {
            border: 2px solid #979797;
        }

        &-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            margin: 0;
            font-size: 18px;
            color: #585858;
            transition: all 0.3s ease-in-out;
        }

        input:focus+.search-icon {
            color: #979797;
        }

        &-board {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: #fff;
            padding: 10px;
            border-radius: 6px;
            box-shadow: 0 0 10px rgba(199, 199, 199, 0.5);
            transform: translateY(15px);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;

            .search-history-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
                font-size: 14px;
                color: #242424;

                .title {
                    font-weight: 700;
                }

                .delete-icon {
                    font-size: 14px;
                    color: #979797;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: #242424;
                        cursor: pointer;
                    }
                }
            }

            .search-history-body {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-bottom: 15px;
                padding: 0 5px;

                .search-history-item,
                .search-history-item-more {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    height: 30px;
                    padding: 0 10px;
                    border-radius: 15px;
                    background: #f2f2f2;
                    color: #2e2e2e;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 30px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background: #d4237a;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }

            .hot-video-header {
                margin-bottom: 10px;
                font-size: 14px;
                color: #242424;
                font-weight: 700;
            }

            .hot-video-body {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .hot-video-item {
                    display: flex;
                    gap: 5px;
                    font-size: 13px;
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 4px;
                    background: linear-gradient(to right, #f1f1f1, #ffffff);

                    .hot-video-item-rank {
                        font-weight: 700;
                        width: 20px;
                        text-align: center;
                        color: #797979;
                    }

                    .hot-video-item-info {
                        flex-grow: 1;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .hot-video-item-hot {
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        width: 65px;
                        color: #bbbbbb;
                    }
                }

                .hot-video-item-front {
                    background: linear-gradient(to right, #fff8c6, #ffffff);
                    
                    .hot-video-item-rank {
                        color: #ffa700;
                    }

                    .hot-video-item-hot{
                        color: #ffe0a4;
                    }
                }
            }
        }

        &-board-active {
            transform: translateY(5px);
            opacity: 1;
            visibility: visible;
        }
    }

    .login,
    &-right {
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 20px;
        gap: 30px;
        position: absolute;
        right: 0;
        transition: all 0.3s ease-in-out;

        .add-video-icon {
            font-size: 16px;
            margin-right: 5px;
        }

        @media screen and (max-width: 860px) {
            gap: 10px;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 40px;
        position: relative;

        .avater {
            height: 30px;
            aspect-ratio: 1/1;
            border-radius: 6px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .user-name {
            color: #dadada;
            font-size: 14px;
            font-weight: 500;
            transition: all 0.3s ease-in-out;
        }

        .down-icon {
            font-size: 14px;
            color: #dadada;
            transition: all 0.3s ease-in-out;
        }

        .user-menu {
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            background: #fff;
            border-radius: 6px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(199, 199, 199, 0.5);
            transform: translateY(10px);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;

            ul {
                list-style: none;

                li {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 20px;
                    border: 4px solid #fff;
                    border-radius: 10px;
                    font-size: 14px;
                    color: #585858;

                    &:hover {
                        background: #d4237a;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }

        }
    }

    .user-info:hover {
        cursor: pointer;

        .user-name,
        .down-icon {
            color: #fff;
        }

        .user-menu {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }
}